---
import Layout from "../Layout.astro";
import CreateMockForm from "../../components/CreateMockForm.svelte";
---

<Layout>
    <div class="md:hidden absolute h-screen w-full flex flex-col items-center justify-center bg-slate-900 text-slate-200 space-y-6 p-4 text-center">
        <div class=" text-6xl">
            T_T
        </div>
        <div class="text-xl">
            Sorry, you cannot open this page on a small screen. Try desktop mode.
        </div>
    </div>
    <div class="h-screen w-full flex flex-col items-center space-y-4">
        <CreateMockForm client:load/>
    </div>
</Layout>
