---
import Layout from "../Layout.astro";
import CreateMockForm from "../../components/CreateMockForm.svelte";
---

<Layout>
    <div class="h-screen w-full flex flex-col items-center space-y-4">
        <div class="flex flex-col items-center">
            <p class="text-5xl font-bold p-2">
                <span class="text-slate-400">#</span> Create new mock
            </p>
            <p class="text-xl">A mock is a collection of questions :)</p>
        </div>
        <CreateMockForm client:load/>
    </div>
</Layout>
